section.header
  .container
    a.header-logo(href="index.html")
      img.svg(src="images/logo-panda.svg")
    nav.header-nav
      a(href="jobs.html") Работы
      a(href="agency.html") Агенство
      a(href="career.html") Карьера
      a(href="contacts.html") Контакты
