footer.footer 
  .container 
    .footer-inner
      .footer-inner-copyright
        |Panda Digital © 2016
      
      .footer-inner-social
        a(href="#")
          img.svg(src="images/facebook.svg")
        a(href="#")
          img.svg(src="images/instagram.svg")
        a(href="#")
          img.svg(src="images/twitter.svg")
