doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  link(rel="stylesheet" href="stylesheets/app.css")
  
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  
  script.
    require('initialize');

body.main.fixed-header

  include components/header/header.static.jade
  include components/form/form.static.jade
  include components/footer/footer.static.jade
    
      
        
