section.agency
  .container
    .agency-title
      |Агенство
    .agency-flex-inner
      .flex-item
        .img
        .flex-item-title
          |Стратегия
        .flex-item-text
          |Системный и комплексный подход
          br
          |в коммуникации с потребителем
          br
          |в интерактивных медиасредах
      .flex-item
        .img
        .flex-item-title
          |Стратегия
        .flex-item-text
          |Системный и комплексный подход
          br
          |в коммуникации с потребителем
          br
          |в интерактивных медиасредах
      .flex-item
        .img
        .flex-item-title
          |Стратегия
        .flex-item-text
          |Системный и комплексный подход
          br
          |в коммуникации с потребителем
          br
          |в интерактивных медиасредах
      .flex-item
        .img
        .flex-item-title
          |Стратегия
        .flex-item-text
          |Системный и комплексный подход
          br
          |в коммуникации с потребителем
          br
          |в интерактивных медиасредах
      .flex-item
        .img
        .flex-item-title
          |Стратегия
        .flex-item-text
          |Системный и комплексный подход
          br
          |в коммуникации с потребителем
          br
          |в интерактивных медиасредах
      .flex-item
        .img
        .flex-item-title
          |Стратегия
        .flex-item-text
          |Системный и комплексный подход
          br
          |в коммуникации с потребителем
          br
          |в интерактивных медиасредах
      .flex-item
        .img
        .flex-item-title
          |Стратегия
        .flex-item-text
          |Системный и комплексный подход
          br
          |в коммуникации с потребителем
          br
          |в интерактивных медиасредах 
