sectoion.partners
  .container
    .partners-title
      |Наши партнеры
    .flex-inner 
      .flex-item 
        img(src="images/partner1.svg")
      .flex-item 
        img(src="images/partner2.svg")
      .flex-item 
        img(src="images/partner3.svg")
      .flex-item 
        img(src="images/partner4.svg")
      .flex-item 
        img(src="images/partner5.svg")
      .flex-item 
        img(src="images/partner6.svg")
