sectoion.clients
  .container
    .clients-title
      |Наши клиенты
    .flex-inner 
      .flex-item 
        img(src="images/184945.png")
      .flex-item 
        img(src="images/Affect_img.png")
      .flex-item 
        img(src="images/latest.png")
      .flex-item 
        img(src="images/logo_rostelecom_v2.png")
      .flex-item 
        img(src="images/184945.png")
      .flex-item 
        img(src="images/latest.png")
